laravel-app/node_modules
laravel-app/public/hot
laravel-app/public/storage
laravel-app/storage/*.key
laravel-app/vendor
laravel-app/.phpunit.result.cache
laravel-app/Homestead.json
laravel-app/Homestead.yaml
laravel-app/npm-debug.log
laravel-app/yarn-error.log

# dependencies
react-app/node_modules
react-app/.pnp
react-app/.pnp.js

# testing
react-app/coverage

# production
react-app/build

# misc
react-app/.DS_Store
react-app/.env.local
react-app/.env.development.local
react-app/.env.test.local
react-app/.env.production.local

react-app/npm-debug.log*
react-app/yarn-debug.log*
react-app/yarn-error.log*

react-app/dist
react-app/dist-ssr
*.local