Backend/node_modules
Backend/public/hot
Backend/public/storage
Backend/storage/*.key
Backend/vendor
Backend/.phpunit.result.cache
Backend/Homestead.json
Backend/Homestead.yaml
Backend/npm-debug.log
Backend/yarn-error.log